.tableList{
  
}
table{
  border-collapse:collapse ;
  width: 70%;
  
 
}
.heading{
  background-color: gray;
  width: 86.4%;
  margin-left: 11.7%;
  text-align: center;
  padding: 1rem;
}
.rawmat{
  background-color: #16364A;
  text-align: center;
  color: white;
  width: 69.3%;
  margin-left: 30%;
  padding: 0.3rem;
}
.sideAndtable{
  display: flex;
  justify-content: space-between;
  
}
table th{
  background-color: gray;
}
table th,td{
  border: 1px solid #ddd;
  text-align: center;
  padding: 1rem;
}

table .green{
  background: rgb(28, 214, 28);
}
table .orange{
  background: orange;
}
.red{
  background-color: red;
}

.navbar{
  

}
.navbar nav{
  width: 98%;
  background: #16364A;
  padding:1rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;

}
.navbar nav img{
  width: 30px;
  
  padding:0 1rem;
  position: relative;
  left: 80%;
}
aside{
  width: 10%;
  background-color: #16364A;
  margin-top: -5rem;
  padding:0.5rem 1rem;
  height: 100vh;
  
}
aside ul li{
  list-style: none;
  text-align: left;
  color: white;
  line-height: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filterArea{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 18%;
}
.filterArea button{
  width: 90%;
  margin-left: 10px;
  padding: 0.7rem;
  border: none;
  background-color: #16364A;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputgroup{
  display: flex;
  width: 95%;
  margin: auto;
  align-items: center;
  gap: 5px;
}
.yellow{
  width: 15px;
  height: 20px;
  background: rgb(255, 255, 0);
}
.green{
  width: 15px;
  height: 20px;
  background: green;
}