body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  
}
.tableList{
  
}
table{
  border-collapse:collapse ;
  width: 69.8%;
  margin-right: 5px;
  
}
.heading{
  background-color: #B5B5B5;
  width: 84.4%;
  margin-left: 12%;
  text-align: center;
  padding: 2rem;
}
.rawmat{
  background-color: #16364A;
  text-align: center;
  color: white;
  width: 69.2%;
  margin-left: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.3rem;
}
.sideAndtable{
  display: flex;
  justify-content: space-between;
  
}
thead th{
  background-color: #B5B5B5;
  font-size: 1.2rem;
  padding-bottom: 2rem;
  border: 1px solid #ddd;
}
tbody tr td{
  border: 1px solid #ddd;
  text-align: center;  
  font-weight: 600;
padding: 0.8rem;
  
}

table .green{
  background: #88FB4E;
}
table .orange{
  background: #FDAE01;
}
.red{
  background-color: #ed220c;
  color: white;
}

.navbar{
  

}
.navbar nav{
  width: 98%;
  background: #16364A;
  padding:1rem 1rem;
  display: flex;
  align-items: center;
  

}
.navbar nav i{
  width: 30px;
  
  padding:0 1rem;
  position: relative;
  left: 80%;
}
.navbar nav img{
  width: 30px;
  
  padding:0 1rem;
  position: relative;
  left: 80%;
}
aside{
  width: 10%;
  background-color: #16364A;
  margin-top: -10rem;
  padding:0.5rem 0.1rem;
  height: 150vh;
  
}
.sidemenu{
  padding-left: 1.5rem;
  margin-top: 3rem;
}
.sidemenu li{
  list-style: none;
  text-align: left;
  color: white;
  line-height: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.filterArea{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 18%;
}
.filterArea button{
  width: 90%;
  margin-left: 10px;
  padding: 0.7rem;
  border: none;
  background-color: #16364A;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputgroup{
  display: flex;
  width: 95%;
  margin: auto;
  align-items: center;
  gap: 5px;
}
.yellow{
  width: 15px;
  height: 20px;
  background: #FDAE01;
}
.green{
  width: 15px;
  height: 20px;
  background: #88FB4E;
}

.branchAndQuantity{
 
  margin-top: -1rem;
  background: #16364A;
  width: 90%;
  margin-left: 10px;
  
}
.branchAndQuantity > .text{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
   color: white;
   font-size: 12px;
}

.branchAndQuantity > .text > .quantity{
  display: flex;
  align-items: center;
  gap: 5px;
}
.flexcol{
  display: flex;
  justify-content: space-between;
  width: 80%;
  
}
.flexcol2{
  display: flex;
  justify-content: space-between;
  width: 84%;
  
}
.tc{
  width: 80%;
  margin: auto;
}